<body bgcolor="white" text="black" link="#0000FF" vlink="#840084" alink="#0000FF">
<div class="book"><div class="titlepage"><div><div><h1 class="title">
<a name="idm46208122581888">
</a>Accessing Gtk3 GResources Using the Vala Programming Language</h1>
</div><div><div class="author"><h3 class="author"><span class="firstname">Frederick</span> 
<span class="surname">Ollinger</span></h3></div></div></div><hr></div>

	<div class="chapter"><div class="titlepage"><div><div><h1 class="title"><a name="idm46208122577888"></a>
	
	Chapter 1. Introduction</h1></div></div></div><p> The Gtk3 GResource system allows us to bundle content, such as an image
	or a text file, into an executable.  These resources can be accessed by
	their path name. Thus for the purpose of this document, a resource is
	any file which is non-coding which is still part of a single
	executable. This allows us to distribute things like icons in a binary
	without having to install and get paths right for many external files.
	Resources can be accessed by their path name.  
</p><p>
We'll call this project Rey Valor which is a play on words suggesting Valiant King but also King of the Vala language.
</p><p>
You can get the code for these examples here: <a class="ulink" href="https://gitlab.com/fredollinger/rey-valor" target="_top"><em class="citetitle"> https://gitlab.com/fredollinger/rey-valor</em></a>.
</p><p>
Note that since this was so difficult for me to figure out how to do this in Vala, I started by learning the C interface first. This gives us an easier time on understanding how everything fits together since most of the Gtk3 libraries are actually written in C, and from a documentation point of view, C is much better supported than Vala.
</p><p>
Also, at first, I believed that I would have to write some code to access the C api from Vala, but fortunately this turned out to be untrue. The Vala support for GResources natively is complete.
</p></div><div class="chapter"><div class="titlepage"><div><div><h1 class="title"><a name="idm46208122526672"></a>Chapter 2.vCreating and Accessing Resources From C</h1></div></div></div>
	
	
<div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="idm46208122525984"></a>Creating a Resource</h2></div></div></div><p>In this example, our resource will be an
image called <code class="filename">battery-icon.jpg</code>.  We'll place this in the
directory called <code class="filename">resources</code>.</p><p>Next we'll make our resources file <code class="filename">reyv-resource.xml</code>.
</p><pre class="programlisting">

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;gresources&gt;
  &lt;gresource prefix="reyv"&gt;
    &lt;file preprocess="to-pixdata"&gt;resources/battery-icon.jpg&lt;/file&gt;
  &lt;/gresource&gt;
&lt;/gresources&gt;

</pre><p>
In this file, we will tell our executable, via GResources, the path to find <code class="filename">battery-icon.jpg</code>.
</p><p>
	Next, we want to use the command line utility,
	<span class="application">glib-compile-resource</span>, to generate our
	source file, <code class="filename">resources.c</code>, from our xml file.
</p><p>
	The file <code class="filename">resources.c</code> contains our battery image in C format which allows us to access it from our executable.
</p><pre class="programlisting">

    $ glib-compile-resources --target=resources.c --generate-source reyv-resource.xml

</pre><p>
Now we should have our <code class="filename">resources.c</code> which has the <code class="filename">battery-icon.jpg</code> encoded in C. 
</p><p>
Note: There's an option in <span class="application">glib-compile-resource</span> which will create a header file as well. However, it's not needed in this example, so we don't do this. In fact, I don't know why or where one needs to create a header, but it's there.
</p><p>
Let's look at the our <code class="filename">resources.c</code>, at least the relevant part where we have our binary data.
</p><pre class="programlisting">
static const SECTION union { const guint8 data[665424]; const double alignment; void * const ptr;}  reyv_resource_resource_data = { {
  0x47, 0x56, 0x61, 0x72, 0x69, 0x61, 0x6e, 0x74, 
</pre><p>
Clearly, our battery image is encoded as a massive array.
</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="idm46208118149904"></a>
Using the <code class="filename">resources.c</code> File
</h2></div></div></div><p>
	I got most of my code from a boilerplate Gtk3 example, so thank-you Gtk3 team for that. What I added was the usage of the function:
</p><pre class="programlisting">
GtkWidget* gtk_image_new_from_resource(char *path_to_resource);
</pre><p> The way that this function works is we give it to a path we have created
	and we get our resource, in this case our resource information is wrapped in 
	a GdkWidget which is a catch
	all for graphical widgets. In this example, we are going to get our image
	back, <code class="filename">battery-icon.jpg</code>, and place it into a widget
	so we can display it. Seeing is believing so if we can display the
	image, we know our resource is loading properly.  </p><p>
Recall the path that we had created: "resources/battery-icon.jpg"? This gets combined with our chosen prefix from the same file: "reyv" to create the full path: 
"reyv/resources/battery-icon.jpg". (It seems obvious, but it took me a little while to figure this out.)
</p><p>
	Thus, here's the function call we use to get our <code class="varname">image</code>.
</p><pre class="programlisting">

  const char *path = "/reyv/resources/battery-icon.jpg";
  GtkWidget *img;
  img = gtk_image_new_from_resource (path);

</pre><p>
This we put on the screen with the following code:
</p><pre class="programlisting">

gtk_grid_attach (GTK_GRID (grid), image, 0, 0, 1, 1);

</pre><p>
Note, explanation of the various packing and usage of Gtk widgets is beyond the scope of this document.
</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="idm46208118141392"></a>
Compiling the Resource
</h2></div></div></div><p>
	Next, we compile our <code class="filename">resource.c</code> into an object file, <code class="filename">resources.o</code>:
</p><pre class="programlisting">

    $ gcc `pkg-config --cflags gtk+-3.0` -c resources.c `pkg-config --libs gtk+-3.0`

</pre><p>
	Then combine <code class="filename">resources.o</code> into our C file, <code class="filename">reyv.c</code> to produce the executable <code class="filename">reyv-c</code>.
</p><pre class="programlisting">

    $ gcc `pkg-config --cflags gtk+-3.0` -o reyv-c reyv.c `pkg-config --libs gtk+-3.0` resources.o

</pre><p>That's it, we can now run our program and see it from the command line:</p><pre class="programlisting">

    $ ./reyv-c

</pre><p>We should see the battery icon come up in a window. If it does not then we probably have our path wrong. Now, we can access any resource from the C programming language. Next, we'll take this knowledge and use it to access the same resource from the Vala programming language.</p></div></div><div class="chapter"><div class="titlepage"><div><div><h1 class="title"><a name="idm46208122691440"></a>Chapter 3. Accessing Resources From Vala</h1></div></div></div>

<p>After many false starts, I was able bundle my image into my Vala application and to load it onto the screen. First step is the Vala boilerplate which we'll skim over as there are better resources on this elsewhere.</p><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="idm46208122690144"></a>Vala Boilerplate</h2></div></div></div><p>We have two pieces of boilerplate, main and the actual application window.</p><p>Let's look at the relevant parts of <code class="filename">reyv.vala</code>:</p><pre class="programlisting">
    public static int main (string[] args) {
        Gtk.init (ref args);
        Application app = new Application ();
        app.show_all ();
        Gtk.main ();
        return 0;
    }
</pre><p>Notice that this will create an application object. We need to make that object:</p><pre class="programlisting">
    public Application () {
        // Prepare Gtk.Window:
        this.title = "My Gtk.Image";
        this.window_position = Gtk.WindowPosition.CENTER;
        this.destroy.connect (Gtk.main_quit);
        this.set_default_size (350, 70);
    }
</pre><p>That's it. This should show an empty window. This is where we will
	display our battery image as proof of our success.
</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="idm46208122685184"></a>Bundling Our Image Into Our Vala Application</h2></div></div></div><p>The next few steps look trivial, but they are the result of a great deal of work to figure out.</p><p>Like the C project, once again, we compile our resources file to <code class="filename">resources.o</code>.</p><pre class="programlisting">

    $ glib-compile-resources --target=resources.c --generate-source reyv-resource.xml
    $ gcc `pkg-config --cflags gtk+-3.0` -c resources.c `pkg-config --libs gtk+-3.0`

</pre><p>
    Now let's examine the code which actually loads the image from the resource:
</p><pre class="programlisting">
    string path = "/reyv/resources/battery-icon.jpg";
    Gtk.Image image = new Gtk.Image.from_resource(path);
    this.add (image);
</pre><p>Pretty self-explanatory, but it took me forever to figure it out. Mostly, I got the idea from the C example, as per above as well as looking at the actual api for Vala. This can be found on any computer which has Vala installed by looking at the vapi files. I found mine here: <code class="filename">/usr/share/vala-0.32/vapi/gtk+-3.0.vapi</code>.
</p><p>
Here's the line that gave me the break-through:
</p><pre class="programlisting">
    public Image.from_resource (string resource_path);
</pre><p>Finally, we build <code class="filename">resources.o</code> into our executable.</p><pre class="programlisting">
    valac --pkg gtk+-3.0 --pkg glib-2.0 resources.c reyv.vala -o reyv-v 
</pre><p>That's it! Now our image is embedded in the application. Run it:</p><pre class="programlisting">

    $ ./reyv-v

</pre><p>Once again, you should see the lovely battery icon.</p></div></div></div></body></html>
